<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="BrowserPath" value ="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" />
    <add key="CMDArgsMessageBoxEnabled" value="True" />
    <add key="ExitWord" value="exit"/>
    <add key="ToggleOnWord" value="Wake up"/>
    <add key="ToggleOffWord" value="Cucumber"/>
    <add key="Confidence" value="0.8" />
  </appSettings>
</configuration>